
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: inherit;
    color: inherit;
    font: inherit;
}

html {
    font-size: 16px; /* Valeur par défaut des navigateurs */
}

@font-face {
    font-family: NTfabulous ;
    src: url(nt_fabulous/NT\ Fabulous\ \(only\ personal\ use\).otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url(Lato/Lato-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Lato-Bold;
    src: url(Lato/Lato-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

.meow-script-regular {
    font-family: "Meow Script", cursive;
    font-weight: 400;
    font-style: normal;
}  

.krona-one-regular {
    font-family: "Krona One", serif;
    font-weight: 400;
    font-style: normal;
}

:root{
    --primary-light-color: #DED7EB;  
    --primary-medium-color: #8283A8;
    --primary-dark-color: #26283F;  
    --secondary-blue-color: #391ADE; 
    --secondary-purple-light-color: #7D3EFF;
    --secondary-purple-dark-color: #5318CC;
    --secondary-purple-lighter-flash: #7D3EFF;
    --tertiray-black: #121212;
    --tertiary-orange: #FF7B00;
    --background-dark: #1C1D2D;
    --background-darker: #161729;
    --color-system-valid: #C4FCF0;
    --accent-color: #e74c3c; 
    background-color: var(--background-darker);
}

.gradient-text {
    background-image: linear-gradient(45deg,#7D3EFF, #391ADE);
    background-clip: text;
    background-size: 100% 100%; /* Ajuste la taille du gradient */
    background-position: center; /* Centre le gradient */
    -webkit-text-fill-color: transparent;
    display: inline-block; /* Évite que le gradient prenne toute la largeur */
}


h1{
    font-size: 3rem; color: var(--primary-light-color); font-family: "Meow Script";
}

h2{
    font-size: 2.5rem; color: var(--primary-medium-color); font-family: "NTfabulous";
}

h3{
    font-size: 2.5rem; color: var(--primary-light-color); font-family: "NTfabulous";
}

h4{
    font-size: 1.5rem; color: var(--primary-light-color); font-family: "Krona One"
}

h4 .mon-service{
    color: var(--primary-light-color);
}

h5{
    font-size: 1rem; color: var(--primary-light-color); font-family: "Krona One"; line-height: 150%;
}
/* H6 - Même CSS que le body, utilisé dans les aptitutes-cards */
h6{
    font-size: 1rem; color: var(--secondary-purple-lighter-flash); font-family: "Lato"; 
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem; color: var(--primary-light-color); font-family: "Lato";
    gap: 64px;
}

section {
    display: flex;
    flex-direction: column;
}

p{
    max-width: 977px; 
    color: var(--primary-medium-color);
    line-height: 150%;
}

p span {
        font-size: 1rem; color: var(--primary-medium-color); font-family: "Krona One"
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 8px;
}

a img {    
    filter: brightness(0) saturate(100%) invert(95%) sepia(4%) saturate(3009%) hue-rotate(193deg) brightness(99%) contrast(86%);
}

.tag {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    gap: 8px;
    background-color: var(--primary-dark-color);
    padding: 8px;
    border-radius: 3px;
}

/* pading 16 - 24 px */
.primary-btn-large {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    gap: 8px;
    background-image: linear-gradient(45deg,#7D3EFF, #391ADE);
    border-style: none;
    border-radius: 90px;
    font-family: "Lato-Bold";
    width: fit-content;
}

/* pading 8 px */
.primary-btn-medium {
    display: flex;
    align-items: center;
    padding: 8px 16px 8px 16px;
    gap: 8px;
    background-image: linear-gradient(45deg,#7D3EFF, #391ADE);
    border-style: none;
    border-radius: 90px;
    font-family: "Lato-Bold";
    width: fit-content;
}

.secondary-btn-medium {
    display: flex;
    align-items: center;
    padding: 8px 16px 8px 16px;
    gap: 8px;
    background-image: var(--background-dark);
    border: solid; border-radius: 90px; border-color: var(--secondary-purple-lighter-flash); border-width: 1px;
    font-family: "Lato-Bold";
    width: fit-content;
}

.primary-btn-large:hover {
    background-image: linear-gradient(45deg,#391ADE,#7D3EFF);
}

button:hover {
    cursor: pointer;
}


/* ------------CAROUSSEL------------- */

#mes-projets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-image: url('Images/BG-section.png');
    width: fit-content;
}

.projet{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    padding: 0px 60px 120px 60px;
    margin: 0px 80px 0px 80px;
}

.projet h3{
    padding: 120px 0px 120px 0px;
}

.projet h5{
    font-family: "NTfabulous";
    font-size: 1.5rem;
}

#crs-freetime{
    padding-bottom: 32px;
}

#crs-freetime h6{
    background-image: linear-gradient(45deg,#ff942f, #ff409c);
    background-clip: text;
    background-size: 100% 100%; /* Ajuste la taille du gradient */
    background-position: center; /* Centre le gradient */
    -webkit-text-fill-color: transparent;
    display: inline-block; /* Évite que le gradient prenne toute la largeur */
}

.fin-projets{
    padding: 56px 32px 0px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.text-fin{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.carousel {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 941px;
    overflow: hidden;
    position: relative;
    margin: auto;
    gap: 16px;
}
.carousel-container {
    display: flex;
    width: 100%;
    max-width: 941px;
    transition: transform 0.5s ease-in-out;
}

.carousel-item, picture {
    min-width: 100%;
}

.carousel-container img {
    width: 100%;
    height: 539px;
    object-fit: cover;
    border-radius: 10px;
}

.titre {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.text-projet {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 540px;
}

.text-projet img {
    width: 24px;
    height: 24px;
}

.carousel-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: 8px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
    width: auto;
    padding: 0 8px 16px 8px;
    z-index: 2;
}

.carousel-content-wrapper{
    position: relative;
    height: 542px;
}

.prototype {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-top: 8px;
}

.prev, .next {
    width: 72px;
    height: 72px;
    color: var(--primary-light-color);
    background-color: var(--background-dark);
    border-style: solid;
    border-radius: 300px;
    border-color: var(--secondary-purple-lighter-flash);
    border-width: 1px;
    padding: 24px;
    transition: transform 0.3s ease;
}

.prev:hover, .next:hover {
    background-color: var(--secondary-purple-light-color);
    color: var(--background-dark)
} 

/* --------------Formulaire---------------- */


.block-formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: 80px 0;   
    max-width: none;
    box-sizing: border-box;

}

.form{
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 100%;
}

.form-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.civilité{

    min-width: 280px;
    /* width: max-content; */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* flex-basis: auto; */
    padding: 8px;
    border-style: solid; border-color: transparent; border-bottom-color: #7D3EFF; border-width: 1px;
}

.form-wrap input, textarea{
    background-color: transparent;
    border: none;
}

input[type=text], input[type=email], input[type=tel] {
    padding: 8px;
}

input::placeholder, textarea::placeholder{
    color: var(--primary-light-color);
}

#name:focus, #email:focus, #phone:focus, #entreprise:focus, #message:focus {
    outline: none; /* supprime le contour au focus */
}


label{
    font-size: 1rem; color: var(--primary-medium-color); font-family: "Krona One";
    padding-bottom: 16px;
}

.form-btn{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.gradient-text-2{
    background-image: linear-gradient(90deg, #391ADE 0%, #7D3EFF 35%, #e74c3c 100%);
    background-clip: text;
    background-size: 100% 100%; /* Ajuste la taille du gradient */
    background-position: center; /* Centre le gradient */
    -webkit-text-fill-color: transparent;
    display: inline-block; /* Évite que le gradient prenne toute la largeur */
}









/* ADAPTATION TAILLE DEVICE REFERENCE : iPad Pro W:1024PX */

@media screen and (max-width: 1024px){


    body {
        margin: 24px;
        padding: 0px;
        gap: 32px;
    }
}


/* ADAPTATION TAILLE MOBILE REFERENCE : Android medium W:700PX */

@media screen and (max-width: 700px){

    body {
        margin: 0px;
    }

    h1{
        font-size: 2rem;
    }
    
    h3{
        font-size: 1.5rem; 
    }
    
    h4{
        font-size: 1rem; 
    }
    
    h5{
        font-size: 0.8rem; 
    }
    /* H6 - Même CSS que le body, utilisé dans les aptitutes-cards */
    h6{
        font-size: 1rem; color: var(--secondary-purple-lighter-flash); font-family: "Lato"; 
    }

}

@media screen and (max-width: 450px){
    h2{
        font-size: 1.5rem; 
    }
}