img, header{
    width: 100%;
}

h2 {
    color: var(--secondary-purple-lighter-flash);
}

section{
    width: 100%;
    padding: 40px 80px 40px 80px;
    gap: 48px;
}

.context{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.scope{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
}

.mark-section{
    width: 100%;
    max-width: 100px;
    height: 2px;
    background-color: var(--secondary-blue-color); 
    border-radius: 2px;
}

.title{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.frictions, .ma-solution{
    flex-direction: column;
    display: flex;
    gap: 16px;
    max-width: 500px;
}

.wrapper-row{
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.solution-cards{
    display: flex;
    flex-direction: column;
    max-width: 405px ;
    background: #23264E;
    background: linear-gradient(180deg,rgba(35, 38, 78, 1) 0%, rgba(70, 13, 70, 1) 100%);
    padding: 32px;
    border-radius: 20px;
    gap: 24px;
}

header .prototype {
    width: 100vw;
    justify-content: center;
}

.prototype {
    padding: 0px 24px 0px 24px;
}


@media screen and (max-width: 700px){
    section{
        padding: 24px;
    }

    .solution-cards{
        max-width: fit-content;
    }

    .mark-section{
        max-width: 0px;
    }

    .scope{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 8px;
    }

}